header {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem; 
}

header button {
    font: lighter .74rem 'Inter', sans-serif;
    letter-spacing: .03rem;
    background-color: transparent;
    padding: 1.1rem 2rem;
    border: 0.15rem solid #899BFF;
    border-radius: .3rem;
}