form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font: 500 .8rem 'Inter', sans-serif;
    color: #AEAEAE;
}

form input {
    margin: .3rem 0 1rem 0;
    padding: .6rem 0;
    background-color: transparent;
    border: .1rem solid #212529;
    border-radius: .25rem;
    font: 500 1rem 'Inter', sans-serif;
    color: #AEAEAE;
}

form button {
    padding: .6rem 0;
    margin-top: 1rem;
    background: #899BFF;
    color: #0c0c0c;
    border: 0;
    border-radius: .15rem;
}