html {
    font-size: 62,5%;
}

body{
    background: linear-gradient(to top right,#0C0C0C, #212529);
    display: flex;
}

<<<<<<< HEAD

h1{
    font: 600 4.8rem 'sora', sans-serif;
    color: #F9f9f9;
    width: 50%;
}

h3{
    font: 500 3.2rem 'Inter', sans-serif;
=======
h1{
    font: 600 3rem 'sora', sans-serif; 
    font-style: normal;
    color: #F9f9f9;
    text-align: center;
    line-height: normal;
}

.break{
    display: block;
}

h3{
    margin-top: 2rem;
    font: 500 2rem 'Inter', sans-serif;
>>>>>>> 65496ce (:lipstick: feat: Estilizaçao do corpo do projeto)
    color: #899BFF;
}

p{
    font: 500 2.6rem 'Inter', sans-serif;
    color:#AEAEAE;
}

button {
    font: 700 1.5rem 'DM Sans', sans-serif;
    color: #F9F9F9;
}

.container {
<<<<<<< HEAD
 
    display: flex;
    flex-direction: column;
    align-items: center;

=======
    width: 100vi;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.form-card {
    margin-top: 5rem;
    width: 39vi;
}

.form-card p {
    font-size: 1.6rem;
>>>>>>> 65496ce (:lipstick: feat: Estilizaçao do corpo do projeto)
}