html {
    font-size: 62,5%;
}

body{
    background: linear-gradient(to top right,#0C0C0C, #212529);
    display: flex;
}

h1{
    font: 600 2.5rem 'sora', sans-serif; 
    font-style: normal;
    color: #F9f9f9;
    text-align: center;
    line-height: normal;
}

.break{
    display: block;
}

h3{
    margin-top: 1.6rem;
    font: 500 1.6rem 'Inter', sans-serif;
    color: #899BFF;
}

p{
    font: 500 1.3rem 'Inter', sans-serif;
    color:#AEAEAE;
}

button {
    font: 700 1.5rem 'DM Sans', sans-serif;
    color: #F9F9F9;
}

.container {
    width: 100vi;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.form-card {
    margin-top: 5rem;
    width: 31vi;
}